In [2]:
from flask import Flask, render_template, request, jsonify
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [4]:
app = Flask(__name__)

In [3]:

try:
    engine = create_engine("postgresql://admin:root@localhost:5432/database")
    conn = engine.connect()
    print("Connection to database successful!")
except Exception as error:
    print(f"Error when connecting to database: {error}")
    engine = None

Connection to database successful!

In [ ]:
books_df = pd.read_sql_table("books", conn)

In [11]:
filtered_columns = books_df.columns[~books_df.columns.str.contains("URL")]
books_df = books_df[filtered_columns]
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton & Company

In [13]:
books_df["Book-Author"] = books_df["Book-Author"].str.strip()
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton & Company

In [17]:
# Obyčejní text preprocessing pro normaliziaci
books_df2 = pd.read_sql_table("books", conn)
df = books_df2

filtered_columns = df.columns[~df.columns.str.contains("URL")]
df_copy = df[filtered_columns].copy()
columns = df_copy.select_dtypes(include=["object"])
for col in columns:
    df_copy[col] = df_copy[col].str.strip().str.title()
    df[col] = df_copy[col]

df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,Harperflamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision In Normandy,Carlo D'Este,1991.0,Harperperennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999.0,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [20]:
filtered_columns = df.columns[~df.columns.str.contains("URL") | ~df.columns.str.contains("ISBN")]
filtered_columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [ ]:
print("Sloupce před čištěním:", list(df.columns))

# --- Tvůj kódový blok ---
df = books_df2

filtered_columns = df.columns[~df.columns.str.contains("URL")]
df_copy = df[filtered_columns].copy()
columns = df_copy.select_dtypes(include=["object"])
for col in columns:
    df_copy[col] = df_copy[col].str.strip().str.title()
    df[col] = df_copy[col]
# --- Konec tvého kódového bloku ---

print("Sloupce po čištění:", list(df.columns))

df.head()

Sloupce před čištěním: ['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']
Sloupce po čištění: ['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,Harperflamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision In Normandy,Carlo D'Este,1991.0,Harperperennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999.0,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [123]:
books_df.dtypes

ISBN                    object
Book-Title              object
Book-Author             object
Year-Of-Publication    float64
Publisher               object
Image-URL-S             object
Image-URL-M             object
Image-URL-L             object
dtype: object

In [120]:
# --- Logika z book_rec.py ---
# Collaborative filtering na základě ostatních uživatelkých recenzí, kteří mají stejnou "chut" 
bookAuthor = "Richard Bruce Wright"
bookTitle = "Clara Callan"

bookAuthor = bookAuthor.lower()
bookTitle = bookTitle.lower()

In [ ]:
# Načtení z databáze
books_df = pd.read_sql_table("books", conn)
ratings_df = pd.read_sql_table("ratings", conn)
ratings_df = ratings_df[ratings_df["Book-Rating"] != 0] 
#users_df = pd.read_sql_table("users", conn)
# Spojení datasetů na základě ISBN ratings a books
#merged_ru_dataset = pd.merge(ratings, users, on=['User-ID'])
merged_rb_dataset = pd.merge(ratings_df, books_df, on=["ISBN"])
merged_rb_dataset = merged_rb_dataset.apply(lambda x: x.str.lower() if(x.dtype == "object") else x)
# Vezme všechny usery, kteří četli stejnou knížku od stejného autora a nechá jen unikátní záznamy
author_readers = merged_rb_dataset["User-ID"][(merged_rb_dataset["Book-Title"] == bookTitle) & (merged_rb_dataset["Book-Author"].str.contains(bookAuthor))]
author_readers = author_readers.tolist()
author_readers = np.unique(author_readers)
# Ponechá jen uživatelé, kteří četli stejnou knížku a nechá si jen jejich knížky. Vytvoření něco jako "podobných profilů" 
# final dataset
books_of_author_readers = merged_rb_dataset[(merged_rb_dataset["User-ID"].isin(author_readers))]
# Počet kolik dostala každá knížka rating od uživatelů se stejným profilem
# Number of ratings per other books in dataset
number_of_rating_per_book = books_of_author_readers.groupby(["Book-Title"]).agg("count").reset_index()
# Vybere jen ty knížky, které byly ohodnoceny 8 a více lidmi (Jak přišli na tuto hranici?)
#select only books which have actually higher number of ratings than threshold
books_to_compare = number_of_rating_per_book["Book-Title"][number_of_rating_per_book["User-ID"] >= 5]
books_to_compare = books_to_compare.tolist()
# Dataset s každým ratingem od uživatele podle knížek které byly hodnoceny 8 a více lidmi
ratings_data_raw = books_of_author_readers[["User-ID", "Book-Rating", "Book-Title"]][books_of_author_readers["Book-Title"].isin(books_to_compare)]
# Vypočte průměrný rating pro každou knížku od každého uživatele? 
# Nestačí zde jen Book_Title abysme dostali průmerné hodnocení od lidi se stejným profilem.
# group by User and Book and compute mean
ratings_data_raw_nodup = ratings_data_raw.groupby(["User-ID", "Book-Title"])["Book-Rating"].mean()
# reset index to see User-ID in every row
ratings_data_raw_nodup = ratings_data_raw_nodup.to_frame().reset_index()
# Vytvoření dataframu kde každý index je uživatel, sloupec kniha a Book-rating od každého uživatele ke knize

dataset_for_corr = ratings_data_raw_nodup.pivot(index="User-ID", columns="Book-Title", values="Book-Rating")
users_book = [bookTitle]
result_list = []
worst_list = []

for books in users_book:

    if books in dataset_for_corr.columns:
        #Odstranění uživatelovi oblíbené knížky z dataset. Jasné, že by měla tu největší shodu.
        dataset_of_other_books = dataset_for_corr.copy(deep=False)
        dataset_of_other_books.drop([books], axis=1, inplace=True)
    else:
        dataset_of_other_books = dataset_for_corr.copy(deep=False)

    # Inicializace prázdných listů pro doplnění knich, korelační matice a průměrného ratingu
    # empty lists
    book_titles = []
    correlations = []
    avg_rating = []

    # Vypočítaní korelace knížky od uživatele s knížkou v datasetu
    # corr computation
    for book_title in list(dataset_of_other_books.columns.values):
        book_titles.append(book_title)
        correlations.append(dataset_for_corr[books].corr(dataset_of_other_books[book_title]))
        tab = (ratings_data_raw[ratings_data_raw["Book-Title"] == book_title].groupby(ratings_data_raw["Book-Title"])) # mean()?
        avg_rating.append(tab["Book-Rating"].mean()) # Přídá nejmeněí růměrný rating jako avg_rating? (předpokládám zde mean())
    # Vyvoření dataframu z dříve init listů
    # final dataframe of all correlation of each book   
    corr_df = pd.DataFrame(list(zip(book_titles, correlations, avg_rating)), columns=["Book","Correlation","Avg_rating"])
    # Uloží 10 knih s největší korelací (head)
    # top 10 books with highest corr
    result_list.append(corr_df.sort_values("Correlation", ascending = False).head(10))
    
    # Uloží 10 knížek s nejnižší korelací (tail), nejsou sice potřeba, ale budiž
    # worst 10 books
    worst_list.append(corr_df.sort_values("Correlation", ascending = False).tail(10))
    
results = result_list[0]["Book"].tolist()

In [126]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [127]:
ratings_df.head()

Empty DataFrame
Columns: [Ratings-ID, User-ID, ISBN, Book-Rating]
Index: []

In [90]:
b = "Griffin  &  Sabine: The Complete Postcards"
b.lower()

'griffin  &  sabine: the complete postcards'

In [122]:
ratings_data_raw

Empty DataFrame
Columns: [User-ID, Book-Rating, Book-Title]
Index: []

In [87]:
ratings_data_raw_nodup

   User-ID    Book-Title  Book-Rating
0    11676  clara callan     8.000000
1    11676     postcards     7.666667
2   116866  clara callan     9.000000
3   116866     postcards     7.000000
4   123629  clara callan     9.000000
5   200273  clara callan     8.000000
6   210926  clara callan     9.000000
7   219008  clara callan     7.000000
8   263325  clara callan     6.000000
9    67544  clara callan     8.000000
10   67544     postcards     7.000000
11       8  clara callan     5.000000

In [84]:
avg_rating

[Book-Title
 postcards    7.4
 Name: Book-Rating, dtype: float64]

In [83]:
corr_df

        Book  Correlation                                         Avg_rating
0  postcards         -0.5  Book-Title
postcards    7.4
Name: Book-Rating,...

In [75]:
results[0]

'postcards'

In [96]:
for title in results:
    full_book_info = books_df[books_df["Book-Title"] == title.title()]

In [97]:
full_book_info.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
55442,0006546684,Postcards,E Annie Proulx,NaN,Flamingo,http://images.amazon.com/images/P/0006546684.0...,http://images.amazon.com/images/P/0006546684.0...,http://images.amazon.com/images/P/0006546684.0...

In [98]:
columns_to_keep = ["ISBN", "Book-Title", "Book-Author"]
full_book_info = full_book_info[columns_to_keep]

In [99]:
full_book_info.head()

             ISBN Book-Title     Book-Author
55442  0006546684  Postcards  E Annie Proulx

In [108]:
full_book_info.to_dict(orient="records")

[{'ISBN': '0006546684',
  'Book-Title': 'Postcards',
  'Book-Author': 'E Annie Proulx'}]

In [114]:
columns_to_keep = ["ISBN", "Book-Title", "Book-Author"]
full_book_info = []
for title in results:
    full_df = books_df[books_df["Book-Title"] == title.title()]
    full_df = full_df[columns_to_keep]
    full_dic = full_df.to_dict(orient="records")
    full_book_info.extend(full_dic)

In [115]:
full_book_info

[{'ISBN': '0006546684',
  'Book-Title': 'Postcards',
  'Book-Author': 'E Annie Proulx'}]

In [ ]:
result_list

[        Book  Correlation                                         Avg_rating
 0  postcards         -0.5  Book-Title
 postcards    7.4
 Name: Book-Rating,...]

In [ ]:
ratings_data_raw.dtypes

User-ID        object
Book-Rating     int64
Book-Title     object
dtype: object

In [ ]:
ratings_data_raw.head()

      User-ID  Book-Rating    Book-Title
2099        8            5  clara callan
15395   11676            8  clara callan
15420   11676            8     postcards
15437   11676            6     postcards
19741   11676            9     postcards

In [ ]:
dataset_for_corr.head()

Book-Title  clara callan  postcards
User-ID
11676                8.0   7.666667
116866               9.0   7.000000
123629               9.0        NaN
200273               8.0        NaN
210926               9.0        NaN

In [ ]:
dataset_of_other_books.head(20)

Book-Title  postcards
User-ID
11676        7.666667
116866       7.000000
123629            NaN
200273            NaN
210926            NaN
219008            NaN
263325            NaN
67544        7.000000
8                 NaN

In [ ]:
corr_df.head()

Empty DataFrame
Columns: [Book, Correlation, Avg_rating]
Index: []

In [ ]:
results

['postcards']

In [ ]:
if len(results) == 0:
    print ("Unfortunately, there are no books to recommend. :(")
else:
    print(results)

Unfortunately, there are no books to recommend. :(

In [ ]:
mb = dataset_of_other_books['classical mythology']

KeyError: 'classical mythology'

In [ ]:
merged_rb_dataset.head()

,Ratings-ID,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,1,276726,0155061224,5,rites of passage,judith rae,2001.0,heinle,http://images.amazon.com/images/p/0155061224.0...,http://images.amazon.com/images/p/0155061224.0...,http://images.amazon.com/images/p/0155061224.0...
1,3,276729,052165615x,3,help!: level 1,philip prowse,1999.0,cambridge university press,http://images.amazon.com/images/p/052165615x.0...,http://images.amazon.com/images/p/052165615x.0...,http://images.amazon.com/images/p/052165615x.0...
2,4,276729,0521795028,6,the amsterdam connection : level 4 (cambridge ...,sue leather,2001.0,cambridge university press,http://images.amazon.com/images/p/0521795028.0...,http://images.amazon.com/images/p/0521795028.0...,http://images.amazon.com/images/p/0521795028.0...
3,8,276744,038550120x,7,a painted house,john grisham,2001.0,doubleday,http://images.amazon.com/images/p/038550120x.0...,http://images.amazon.com/images/p/038550120x.0...,http://images.amazon.com/images/p/038550120x.0...
4,16,276747,0060517794,9,little altars everywhere,rebecca wells,2003.0,harpertorch,http://images.amazon.com/images/p/0060517794.0...,http://images.amazon.com/images/p/0060517794.0...,http://images.amazon.com/images/p/0060517794.0...

In [ ]:
@app.route("/", methods=["POST", "GET"])
def index():
    if request.method == "POST":
        bookAuthor = request.form.get("bookAuthor")
        bookTitle = request.form.get("bookTitle")

        results = recommend_books(bookAuthor, bookTitle)
        return render_template("html/index.html", results=results)
    
    return render_template("html/index.html", results = None)

In [ ]:
if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

c:\Users\tomas\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
@app.route("/get_recommendations", methods=["POST"])
def get_recommendations_from_form():
    if request.method=

    
    # --- Začina logika book_rec.py ----